services:
  ai-model:
    image: registry.hf.space/yisol-idm-vton:latest
    ports:
      - "7860:7860"
    platform: linux/amd64
    # Run as root to have full write access to the persistent volume
    user: root
    environment:
      - HF_HUB_ENABLE_HF_TRANSFER=0
      - HF_TOKEN=${HF_TOKEN}
      - HF_HUB_READ_TIMEOUT=1000
      - HF_HOME=/tmp/huggingface
    volumes:
      - hf_cache:/tmp/huggingface
    command: python app.py

volumes:
  hf_cache:
